/build/
.idea/vcs.xml
.idea/SSM-10.iml
.idea/modules.xml
.idea/misc.xml
.settings/org.eclipse.wst.ws.service.policy.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.jdt.core.prefs
.classpath
.classpath
