<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.mvc.dao.adminDao">
	<!-- 管理员注册 -->
	<insert id="adminSignup">
		insert into manager_enrol(mnname,mnpsw) values(#{0}, #{1});
	</insert>
	
	<!-- 管理员登录 -->
	<select id="adminSignin" resultType="String">
		select mnpsw from manager_enrol where mnname=#{mnname};
	</select>
	
	
	<!-- 企业信息展示 -->	
	<select id="findBusinessAll" resultType="bs">
		select * from business  ; 
	</select>
	<!-- 企业信息添加-->	
	<insert id="insertBusiness">
	insert into business (bsname,bspname,bsid,bsclass,bsculture,bsintr,bsablt)
	VALUES(#{0},#{1},#{2},#{3},#{4},#{5},#{6});
	</insert>
	<!--删除企业信息-->	
	<delete id="delBusiness">
		delete from business where bsid=#{0};
	</delete>
	<!--更新企业信息-->	
    <update id="updateBusiness" >
         update business set bsname=#{bsname},bspname=#{bspname},bsclass=#{bsclass},bsintr=#{bsintr},bsculture=#{bsculture},bsablt=#{bsablt} 
         where bsid=#{bsid};
    </update>
 	<select id="findBusinessByid" resultType="bs">
		select * from business where bsid=#{0} ; 
	</select>	
	
	<!-- 企业信息展示 -->	
	<select id="findjbhunterAll" resultType="jobhunter">
		select * from jobhunter  ; 
	</select>
	<!-- 企业信息添加-->	
	<insert id="insertjobhunter">
	insert into business (jbname,jbsex,jbage, jbid ,jbusername , jbpnmb , jbcompany , jbjob, jbablt,  interstatus )
	VALUES(#{0},#{1},#{2},#{3},#{4},#{5},#{6},#{7},#{8},#{9});
	</insert>
	<!--删除企业信息-->	
	<delete id="deljbhunter" parameterType="String">
		delete from jobhunter where jbid=#{jbid};
	</delete>
	<!--更新企业信息-->	
    <update id="updatejbhunter" >
         update jobhunter set jbname=#{jbname},jbsex=#{jbsex},jbage=#{jbage},jbusername=#{jbusername},jbpnmb=#{jbpnmb},jbcompany=#{jbcompany},jbjob=#{jbjob},jbablt=#{jbablt},interstatus=#{interstatus} 
         where jbid=#{jbid};
    </update>
 	<select id="findjbhunterByid" resultType="jobhunter">
		select * from jobhunter where jbid=#{0} ; 
	</select>	
	<!-- 招聘记录查询 -->
	<select id="findRecords" resultType="jobhunter">
		select * from jobhunter where interstatus="已通过面试";
	</select>
	<!-- 修改行业类别 -->
	<update id="updateClass">
		update business set bsclass=#{0} where bsname=#{1};
	</update>
</mapper>