<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.mvc.dao.businessDao">
<!-- 企业信息展示 -->	
	<select id="findBusinessAll" resultType="bs">
		select * from business  ; 
	</select>
<!-- 企业信息添加-->	
	<insert id="insertBusiness">
	insert into business (bsname,bspname,bsid,bsclass,bsculture,bsintr,bsablt)
	VALUES(#{0},#{1},#{2},#{3},#{4},#{5},#{6});
	</insert>
<!--删除企业信息-->	
	<delete id="delBusiness">
		delete from business where bsid=#{0};
	</delete>
<!--更新企业信息-->	
    <update id="updateBusiness" >
         update business set bsname=#{bsname},bspname=#{bspname},bsclass=#{bsclass},bsintr=#{bsintr},bsculture=#{bsculture},bsablt=#{bsablt} 
         where bsid=#{bsid};
    </update>
 <select id="findBusinessByid" resultType="bs">
		select * from business where bsid=#{0} ; 
	</select>	
</mapper>