<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.mvc.dao.EnterpriseDao">
	<!-- 企业注册 -->
	<insert id="enterpriseSignup">
		insert into business_enrol values(#{bsname}, #{bspsw}, #{bspname}, #{bspid});
	</insert>
	<!-- 企业登录 -->
	<select id="enterpriseSignin" resultType="String">
		select bspsw from business_enrol where bsname=#{bsname};
	</select>
	<!-- 企业基本信息 -->
	<select id="findEntInfor" resultType="com.icss.mvc.entity.business" parameterType="String">
		select * from business where bsname=#{entname};
	</select>
	
	<select id="entFindPosition" resultType="com.icss.mvc.entity.position" parameterType="String">
		select * from position where bsname=#{entname};
	</select>


</mapper>