<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.mvc.dao.EnterpriseDao">
	<!-- 企业注册 -->
	<!-- <insert id="enterpriseSignup">
		insert into business_enrol values(#{bsname}, #{bspsw}, #{bspname}, #{bsid});
	</insert> -->
	<insert id="enterpriseSignup">
		insert into business_enrol values(#{bsname}, #{bspsw}, #{bspname}, #{bsid}, "未审核");
	</insert>
	
	<select id="findCheckStatus" resultType="String">
		select checkstatus from business_enrol where bsname=#{bsname};
	</select>
	
	<!-- 企业登录 -->
	<select id="enterpriseSignin" resultType="String">
		select bspsw from business_enrol where bsname=#{bsname};
	</select>
	
	<!-- 企业基本信息 -->
	<select id="findEntInfor" resultType="com.icss.mvc.entity.business" parameterType="String">
		select * from business where bsname=#{entname};
	</select>
	
	<!-- 企业招聘信息 -->
	<select id="entFindPosition" resultType="com.icss.mvc.entity.position">
		select * from position where bsname=#{0} limit #{1},#{2};
	</select>
	
	<!-- 企业招聘信息总数 -->
	<select id="entFindPositionCount" parameterType="String" resultType="int">
		select count(*) from position where bsname=#{entname};
	</select>
	
	<!-- 修改企业基本信息 -->
	<update id="updEntInfor" parameterType="com.icss.mvc.entity.business">
		update business set bspname=#{bspname},bsid=#{bsid},bsclass=#{bsclass},bsintr=#{bsintr},bsculture=#{bsculture},bsablt=#{bsablt}
		where bsname=#{bsname};
	</update>
	
	<!-- 修改企业基本信息表单赋值 -->
	<select id="autoFill" resultType="com.icss.mvc.entity.business" parameterType="String">
		select * from business where bsname=#{entname};
	</select>
	
	<!-- 发布招聘信息 -->
	<insert id="entJobPosting" parameterType="com.icss.mvc.entity.position">
		insert into position values(#{bsname},#{bsclass},#{bsposition},#{bspay});
	</insert>
	
	<!-- 管理招聘信息 -->
	<delete id="delRecrInfor">
		delete from position where bsname=#{0} and bsposition=#{1};
	</delete>
	
	<!-- 查看应聘者 -->
	<select id="findJobHunter" resultType="com.icss.mvc.entity.jobhunter">
		select * from jobhunter where jbcompany=#{entname};
	</select>
	
	<!-- 应聘者数量 -->
	<select id="findJobHunterCount" parameterType="String" resultType="int">
		select count(*) from jobhunter where jbcompany=#{entname};
	</select>
	
	<!-- 应聘者基本信息 -->
	<select id="showJobHunter" resultType="com.icss.mvc.entity.jobhunter">
		select * from jobhunter where jbid=#{jbid};
	</select>
	
	<!-- 应聘者简历 -->
	<select id="showResume" resultType="com.icss.mvc.entity.jobhunter">
		select * from jobhunter where jbid=#{jbid};
	</select>
	
	<!-- 预约面试 -->
	<update id="orderInterview">
		update jobhunter set interstatus="已预约面试" where jbid=#{0} and jbcompany=#{1} and jbjob=#{2};
	</update>
	
	 <!-- 面试成功  -->
	<update id="interviewSuccess">
		update jobhunter set interstatus="已通过面试" where jbid=#{0} and jbcompany=#{1} and jbjob=#{2};
	</update>
	<!-- 面试失败 -->
	<update id="interviewFail">
		update jobhunter set interstatus="未通过面试" where jbid=#{0} and jbcompany=#{1} and jbjob=#{2};
	</update>
	
	<!-- 查看面试状态 -->
	<select id="findInterStatus" resultType="String">
		select interstatus from jobhunter where jbid=#{0} and jbcompany=#{1} and jbjob=#{2};
	</select>
	
	<!-- 查看所有应聘者 -->
	<select id="findAllJobHunter" resultType="com.icss.mvc.entity.jobhunter">
		select * from jobhunter limit #{0},#{1};
	</select>
	
	<!-- 应聘者总数 -->
	<select id="findAllJobHunterCount" resultType="int">
		select count(*) from jobhunter;
	</select>

</mapper>