<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.mvc.dao.jobhunterDao">
	<!-- 注册 -->
	<insert id="jobEnrol">
		insert into jobhunter_enrol values(#{jbname}, #{jbusername}, #{jbpsw});
	</insert>
	<!-- 登录 -->
	<select id="jobLogin" resultType="String">
		select jbpsw from jobhunter_enrol where jbusername=#{jbusername};
	</select>
	<!-- 获取用户名 -->
	<select id="getJobname" resultType="String">
		select jbname from jobhunter_enrol where jbusername=#{jbusername};
	</select>
	<!-- 展示公司总列表 -->
	<select id="findList" resultType="com.icss.mvc.entity.position">
		select * from position limit #{0},#{1};
	</select>
	<!-- 展示职业搜索结果-->
	<select id="findSearch" resultType="com.icss.mvc.entity.position" >
		<!-- select * from position where bsposition LIKE '%${bsposition}%'; -->
		select * from position where bsposition=#{bsposition} ; 
	</select>
	<!-- 添加求职简历 -->
	<insert id="insertJob">
		insert into jobhunter values(#{jbname}, #{jbsex}, #{jbage}, #{jbphoto}, #{jbid}, #{jbusername}, #{jbpnmb}, #{jbcompany}, #{jbjob}, #{jbablt});
	</insert>
	<!-- 展示公司信息 -->
	<select id="findbsView" resultType="com.icss.mvc.entity.business" parameterType="String">
		select * from business where bsname=#{bsname};
	</select>
	<!-- 后台展示求职者信息信息 -->
	<select id="findJobhunterAll" resultType="jb">
	select * from jobhunter;
	</select>
	<insert id="insertJobhunter" >
	insert into business ( jbname, jbsex, jbage, jbphoto, jbid, jbusername, jbpnmb,jbcompany, jbjob, jbablt)
	VALUES(#{0},#{1},#{2},#{3},#{4},#{5},#{6},#{7},#{8},#{9});
	</insert>
</mapper>