<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.icss.mvc.entity.business" alias="bs"/>
		<typeAlias type="com.icss.mvc.entity.jobhunter" alias="jobhunter"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/icss/mvc/dao/enterpriseMapper.xml"/>
		<mapper resource="com/icss/mvc/dao/jobhunterMapper.xml"/>
		<mapper resource="com/icss/mvc/dao/adminMapper.xml"/>
	</mappers>
	
</configuration>